.trust {
  padding: 60px 0;
}

.can {
  padding-top: 176px;

  @media (max-width: 1024px) and (min-width: 768px) {
    padding-top: 280px;
  }
  @media (max-width: 450px) {
    padding-top: 140px;
  }
}