.publication-entry {


  @media (max-width: 1024px) and (min-width: 768px) {
    & {
      padding-top: 280px;
    }
  }
  @media (max-width: 568px) {
    &__img {
      height: 300px;
    }
  }
  @media (max-width: 500px) {
    padding-top: 140px;
  }

}

